<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AirHub：全国大气污染分析预测系统</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/fonts/icomoon.css">
</head>

<body>
    <div>
        <!--标题-->
        <h3 class="header1">AirHub: 全国大气污染分析预测系统</h3>
        <h4 class="subheader1">National Air Pollution Analysis and Forecast System</h4>
        </div>
    <div class="viewport">
        <div class="column">
            <!--概览-->
            <div class="overview panel">
                <div class="inner">
                    <div class="item">
                        <h4><div id="current_city" style="font-size: 1rem; margin-bottom: 0.55rem; alignment: bottom">北京</div></h4>
                        <span>
                            <i class="icon-dot" style="color: #006cff"></i>
                            当前城市
                        </span>
                    </div>
                    <div class="item">
                        <h4><div id="current_date" style="font-size: 1rem; margin-bottom: 0.55rem; alignment: bottom">2013_01_01</div></h4>
                        <span>
                            <i class="icon-dot" style="color: #6acca3"></i>
                            当前日期
                        </span>
                    </div>
                    <div class="item">
                        <h4><div id="current_type" style="font-size: 1rem; margin-bottom: 0.55rem; alignment: bottom">PM2_5</div></h4>
                        <span>
                            <i class="icon-dot" style="color: #6acca3"></i>
                            当前污染物
                        </span>
                    </div>
                    <div class="item">
                        <h4><div style="font-size: 1rem; margin-bottom: 0.55rem; alignment: bottom">优</div></h4>
                        <span>
                            <i class="icon-dot" style="color: #ed3f35"></i>
                            空气质量等级
                        </span>
                    </div>
                </div>
            </div>
            <!--监控-->
            <div class="monitor panel">
                <div class="inner">
                    <div class="button_style">
                        <button id="news_button_1" onclick="news_button_control(0)" style="width: 7rem; margin-left: 1rem"> 相关热点新闻 </button>
                        <button id="news_button_2" onclick="news_button_control(1)" style="width: 7rem"> 新闻舆情分析 </button>
                    </div>

                    <div class="content" style="display: block;">
                        <div class="marquee-view">
                            <div class="marquee">

                            </div>
                        </div>

                        <div class="chart">
                            <div id="word_cloud_container" class="news_chart">
                            </div>
                        </div>
                    </div>
                    <div class="content">

                        <div class="marquee-view">
                            <div class="marquee">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--点位-->
            <div class="point panel">
                <div class="inner">
                    <h3>城市污染柱状图</h3>
                    <div class="chart">
                        <div class="histogram"></div>
                        <div class="data">
                            <div class="item">
                                <h4>南昌</h4>
                                <span>
                                    <i class="icon-dot" style="color: #ed3f35"></i>
                                    污染最重
                                </span>
                            </div>
                            <div class="item">
                                <h4>4九江</h4>
                                <span>
                                    <i class="icon-dot" style="color: #eacf19"></i>
                                    污染最轻
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- 地图 -->
            <div class="map">
                <h3 id="map_id">
<!--                    <span class="icon-cube"></span>-->
<!--                    (全国污染物分布图)-->
                    <label for="date_choose" class="icon-cube">选择日期：</label>
                    <input onchange="update_global_date()" id="date_choose" class="labels" type="date" min="2013-01-01" max="2018-12-31" value="2013-01-01"/>

                    <label for="datatype" class="icon-cube" style="margin-left: 0.5rem">选择污染物：</label>

                    <select id="datatype" class="labels" style="width: 5rem;" onchange="update_global_type()">
                        <option value="PM2_5" class="labels">PM2_5</option>
                        <option value="PM10" class="labels">PM10</option>
                        <option value="O3" class="labels">O3</option>
                        <option value="CO" class="labels">CO</option>
                        <option value="SO2" class="labels">SO2</option>
                        <option value="NO2" class="labels">NO2</option>
                    </select>
                </h3>
                <div class="chart">
                    <div class="geo"></div>
                </div>
            </div>

            <!-- 用户 -->
            <div class="users panel">
                <div class="inner">
<!--                    <h3>(此处做成折线统计图，包含一个预测板块的复选框)</h3>-->
                    <div class="curve_button">
<!--                        <input type="button" class="curve_button" name="area" value="Area" onclick="" />-->
                        <button id="curve_button_1" onclick="button_control(0)"> 污染分析</button>
                        <button id="curve_button_2" onclick="button_control(1)"> 污染预测 </button>
                    </div>
                    <div class="chart">
                        <div class="bar" id="cur_chart"></div>
                        <div id="select_border">
                            <select id="pollution_select" onchange="change_curve_info(1)">
                                <option value="" disabled selected>污染物类型</option>
                                <option value="PM2_5">PM2.5</option>
                                <option value="PM10">PM10</option>
                                <option value="SO2">SO2</option>
                                <option value="NO2">NO2</option>
                                <option value="CO">CO</option>
                                <option value="O3">O3</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- 订单 -->
            <div class="order panel">
                <div class="inner">
                    <h3>3D省份地图</h3>
                    <div id="province_3D"> </div>
                </div>
            </div>
            <!-- 渠道 季度 -->
            <div class="wrap">
                                <div class="channel panel">
                    <div class="inner">
                        <h3>污染指标</h3>
                        <div class="data">
                            <div class="item">
                                <h4><div id="city_aqi" style="font-size: 1rem">74.52</div><small></small></h4>
                                <span>
                                    城市AQI
                                </span>
                            </div>
                            <div class="item">
                                <h4><div id="first_type" style="font-size: 1rem">PM2_5</div><small></small></h4>
                                <span>
                                    首要污染物
                                </span>
                            </div>
                        </div>
                        <div class="data">
                            <div class="item">
                                <h4><div id="second_aqi" style="font-size: 1rem">68.41</div><small></small></h4>
                                <span>
                                    第二AQI
                                </span>
                            </div>
                            <div class="item">
                                <h4><div id="second_type" style="font-size: 1rem">PM10</div><small></small></h4>
                                <span>
                                    次要污染物
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quarter panel">
                    <div class="inner">
                        <h3>地区风向</h3>
                        <div class="chart" id="wind-graph">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 各种气象指标 -->
            <div class="sales panel">
                <div class="inner">
                	<div class="caption">
                        <h3>气象指标</h3>
                        <a href="javascript:" class="active" data-type="temprature">气温</a>
                        <a href="javascript:" data-type="wind_speed">风速</a>
                        <a href="javascript:" data-type="moisture">湿度</a>
                        <a href="javascript:" data-type="atmosphere">气压</a>
                        <a href="javascript:" data-type="integrate">综合</a>
                    </div>
                    <div class="chart">
                        <div class="label" id="unit">单位:摄氏度</div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/myJs/JSLib/jquery.min.js"></script>
<script src="../static/myJs/JSLib/echarts.min.js"></script>
<script src="../static/myJs/JSLib/d3.v6.min.js"></script>
<script src="../static/myJs/JSLib/echarts-wordcloud.js"></script>

<script src="../static/myJs/word_cloud.js"></script>
<script src="../static/myJs/index.js"></script>
<script src="../static/myJs/multi_curve.js"></script>
<script src="../static/myJs/histogram.js"></script>
<script src="../static/myJs/header.js"></script>
<script src="../static/myJs/update_global_msg.js"></script>
<script src="../static/myJs/wind_direction.js"></script>
<script src="../static/myJs/weather_amount.js"></script>
<script src="../static/myJs/pollution_amount.js"></script>
<script src="../static/myJs/china.js"></script>
<script src="../static/myJs/main_map.js"></script>
<script src="../static/myJs/news_display.js"></script>

<script>
    // Set initial global msg
    document.getElementById("current_city").innerText = "北京";
    document.getElementById("current_date").innerText = "2013_01_01";
    document.getElementById("current_type").innerText = "PM2_5";

    // Initialize the main map
    update_main_map("2013_01_01")

    // Curve part is set to analysis mode by default
    button_control(0);

    // News part is set to news mode by default
    news_button_control(0);

    // Plot histogram
    update_histogram();

    // Plot wind direction
    update_wind_direction();

    // Plot weather amount
    update_whether_amount();

    // Plot pollution amount, query database, sleep for a while in case that the conflict on querying the database
    // Not need after fixing the bug on the build of connection to database!
    // setTimeout(function(){
    update_pollution_amount();
    // }, 200);

</script>

</html>