html, body {
    height: 100%;
    background-color: rgb(178,200,187);
}
.BMap_cpyCtrl {
    display:none;
}

.anchorBL{
    display:none;
}
.tdStyle {
    position: relative;
    /*width: 5vw;*/
    height: 2vw;
    box-sizing: border-box;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
}

body, div, p, ul, li, font, span, td, th {
    font-size:0.7vw;
    /*line-height:155%;*/
}


table {
    position: relative;
    /*表格在页面整体居中*/
    text-align: center;
    margin: auto;
    /*固定单元格宽度，防止内容过长导致单元格宽度改变，强制换行*/
    table-layout: fixed;
    word-break: break-all;
    /*word-wrap: break-word;*/
    /*margin-top: 1vw;*/
    /*margin-left: 1vw;*/
    width: 90%;
    /*height: 30vw;*/
}

.EditCell_TextBox {
    width: 90%;
    border:1px solid #0099CC;
}

#provinceContainer {
    /*display: inline;*/
    margin-top: 50px;
    width: 800px;
    height: 800px;
    position: relative;
    /*margin-top: 5vw;*/
    /*margin-left: 5vw;*/
    background-color: rgb(178,200,187);
    font-family: "American Typewriter";
}

#cityInProvinceContainer {
    /*display: inline;*/
    position: relative;
    width: 500px;
    height: 500px;
    /*margin-top: 5vw;*/
    /*margin-left: 5vw;*/
    background-color: rgb(178,200,187);
    font-family: "American Typewriter";
}

#trylineCharts {
    position: relative;
    width: 500px;
    height: 500px;
    /*margin-top: 5vw;*/
    /*margin-left: 5vw;*/
    background-color: rgb(178,200,187);
    font-family: "American Typewriter";
}

#tryRadarCharts {
    position: relative;
    width: 500px;
    height: 500px;
    /*margin-top: 5vw;*/
    /*margin-left: 5vw;*/
    background-color: rgb(178,200,187);
    font-family: "American Typewriter";
}

#tryTempLineChart {
    position: relative;
    width: 500px;
    height: 500px;
    /*margin-top: 5vw;*/
    /*margin-left: 5vw;*/
    background-color: rgb(178,200,187);
    font-family: "American Typewriter";
}

#tryWindRose {
    position: relative;
    width: 500px;
    height: 500px;
    /*margin-top: 5vw;*/
    /*margin-left: 5vw;*/
    background-color: rgb(178,200,187);
    font-family: "American Typewriter";
}

#province_3D {
    position: relative;
    width: 500px;
    height: 500px;
    /*margin-top: 5vw;*/
    /*margin-left: 5vw;*/
    background-color: rgb(178,200,187);
    font-family: "American Typewriter";
}



.type_name_legend {
    /*position: relative;*/
    /*表格在页面整体居中*/
    text-align: center;
    margin: auto;
    /*固定单元格宽度，防止内容过长导致单元格宽度改变，强制换行*/
    word-break: break-all;
}

.month_legend {

}